.Global {
  background-color: black;
}
.App {
  text-align: left;
  flex-direction: row;
}

.Header {
  background-color: teal;
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 5vmin;
  flex-direction: row;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
