

     
    body{
	margin:0;
	padding:0;
	background: #efefef;
	font-size: 16px;
	color: #777;
	font-family: sans-serif;
	font-weight: 300;
    }
    .Register{
	padding: 60px 0;
	width:400px;
	text-align: center;
	position: relative;
	margin: 4% auto;
	height: 600px;
	background: #fff;
	box-shadow: 0 2px 4px rgba(0,0,0,0.6);
    }
    h1 {
	margin: 0 0 20px 0;
	font-weight: 400;
	font-size:28px;
    }
    input#A
    {
	margin-left: 90px;
	display: block;
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 4px;
	width: 220px;
	height: 32px;
	border: none;
	outline: none;
	border-bottom: 1px solid #aaa;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 15px;
	transition: 0.2s ea
	
    }
    input#B
    {
	margin-bottom: 28px;
	width: 120px;
	height: 32px;
	background: #f44336;
	border: none;
	border-radius: 2px;
	color: #fff;
	font-family: sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	transition: 0.2s ease;
	cursor: pointer;

    }
.Msg {
        padding: 0 70px;
        padding-top: 30px;
        margin: 0 auto;
        max-width: 400px;
        color: red;
        font-weight: bold;
}


